@using TestAspNetMvc.ViewModels;
@model PCViewModel

@{

}

<p>
    <h4>Компьютеры:</h4>
    <a class="btn btn-primary" href="~/PC/PCEdit">Создать</a>
</p>
@{
    foreach (var pc in Model.PCs)
    {
        <div class="card mb-4">
            <div class="card-header">
                Компьютер #@pc.Id
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Частота процессора: @pc.Cpu MHz</li>
                    <li class="list-group-item">Оперативная память: @pc.Memory Mb</li>
                    <li class="list-group-item">Жёсткий диск: @pc.Hdd Gb</li>
                </ul>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="~/PC/PCEdit/@pc.Id">Изменить</a>
                <a class="btn btn-primary" href="~/PC/Delete/@pc.Id">Удалить</a>
            </div>
        </div>
    }
}