@using TestAspNetMvc.ViewModels;
@model PCViewModel

@{

}

<h4>Компьютеры:</h4>
<a class="btn" href="PC/PCEdit">Создать</a>
@{
    foreach (var pc in Model.PCs)
    {
        <div class="card">
            <div class="card-content">
                <span class="card-title">@pc.Id</span>
                
                <p>Частота процессора: @pc.Cpu.ToString("C") MHz</p>
                <p>Оперативная память: @pc.Memory Mb</p>
                <p>Жёсткий диск: @pc.Hdd Gb</p>
            </div>
            <div class="card-action">
                <a href="PC/PCEdit/@pc.Id">Изменить</a>
                <a href="PC/PCEdit/@pc.Id">Удалить</a>
            </div>
        </div>
    }
}