@using TestAspNetMvc.ViewModels;
@model DepartmentEditViewModel

@{

}

<p>
    <h4>Редактирование отдела:</h4>
</p>
@using (Html.BeginForm("DepartmentEdit", "Departments", FormMethod.Post))
{
    <input type="hidden" value="@Model.Id" name="UserId" />

    <div class="row mb-2">
        <div class="col">
            <label for="depName" class="form-label">Название</label>
            @Html.EditorFor(m => m.Name,
                new {htmlAttributes = new {@id = "depName", @type = "text", @class = "form-control"}})
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input class="btn btn-primary" type="submit" value="Принять"/>
        </div>
    </div>
}