@using TestAspNetMvc.ViewModels;
@model DepartmentsViewModel

@{

}

<p>
    <h4>Отделы:</h4>
    <a class="btn btn-primary" href="~/Departments/DepartmentEdit">Создать</a>
</p>
@{
    foreach (var department in Model.Departments)
    {
        <div class="card mb-4">
            <div class="card-header">
                @department.Name
            </div>

            <div class="card-footer">
                <a class="btn btn-primary" href="~/Departments/DepartmentEdit/@department.Id">Изменить</a>
                <a class="btn btn-primary" href="~/Departments/Delete/@department.Id">Удалить</a>
            </div>
        </div>
    }
}